flows.json
[{"id":"5c1c952d.f1341c","type":"tab","label":"NAC4 IoT","disabled":false,"info":""},{"id":"77837214.98aa0c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c6269c59.3e92b","type":"ui_group","name":"Temperatura","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"d1c0bb7.8942548","type":"ui_group","name":"Outras informações","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"9dc4d563.d74428","type":"ui_group","name":"Temperatura","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a6d2811a.3dbe1","type":"ui_group","name":"Outras informações","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"42825bed.0720e4","type":"serial-port","serialport":"dev/tnt0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"6f4eb013.570fc","type":"serial-port","serialport":"COM21","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"53e5d467.69425c","type":"serial-port","serialport":"COM7","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"19c1a3a1.607ebc","type":"ui_tab","name":"Global Solution","icon":"dashboard","disabled":false,"hidden":false},{"id":"968a227c.e7424","type":"ui_group","name":"Shark Watch","tab":"19c1a3a1.607ebc","order":1,"disp":true,"width":"6","collapse":false},{"id":"5fe44996.2719f8","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"57453682.51d458","type":"ui_group","name":"Desafio 3","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e561f33.e4d5d1","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"1e929ec1.782a91","type":"ui_group","name":"Desafio4","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e8ca240f.8a7a18","type":"serial-port","serialport":"COM4","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"2c8f19ed.fc9456","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"e26ea448.62b098","type":"ui_tab","name":"São Paulo","icon":"dashboard","disabled":false,"hidden":false},{"id":"ca648a1c.39a6c8","type":"ui_tab","name":"Curitiba","icon":"dashboard","disabled":false,"hidden":false},{"id":"c71379de.6b73f8","type":"ui_tab","name":"Desafio 3","icon":"dashboard","disabled":false,"hidden":false},{"id":"3d8d4e62.b7e902","type":"ui_tab","name":"Desafio 4","icon":"dashboard","disabled":false,"hidden":false},{"id":"f34d2b25.4e4b58","type":"mqtt-broker","name":"mqtt","broker":"broker.mqttdashboard.com","port":"1883","clientid":"clientId-ObBP08xURi","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f349d6ee.53d308","type":"twitter-credentials","screen_name":"IoT_NAC4_SharkWatch"},{"id":"f2b8599e.888688","type":"serial in","z":"5c1c952d.f1341c","name":"","serial":"e8ca240f.8a7a18","x":170,"y":400,"wires":[["b921d868.f7b2a8"]]},{"id":"82434c63.5c124","type":"ui_gauge","z":"5c1c952d.f1341c","name":"","group":"968a227c.e7424","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"*C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":640,"wires":[]},{"id":"88bf254e.e90408","type":"change","z":"5c1c952d.f1341c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["e1b1fa19.2b3e38"]]},{"id":"4f525310.df622c","type":"ui_chart","z":"5c1c952d.f1341c","name":"","group":"968a227c.e7424","order":4,"width":0,"height":0,"label":"Lux","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"0","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":410,"y":680,"wires":[[]]},{"id":"c5c13ea0.c5736","type":"comment","z":"5c1c952d.f1341c","name":"Recebe os dados do Arduino e publica nos sensores","info":"","x":310,"y":360,"wires":[]},{"id":"562d82b9.bba44c","type":"change","z":"5c1c952d.f1341c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":520,"wires":[["4ff4506f.7b05c"]]},{"id":"a41ed3d6.d4cde","type":"ui_gauge","z":"5c1c952d.f1341c","name":"","group":"968a227c.e7424","order":3,"width":0,"height":0,"gtype":"gage","title":"Velocidade do vento","label":"Km/h","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":720,"wires":[]},{"id":"77a79d4e.3dd0d4","type":"mqtt in","z":"5c1c952d.f1341c","name":"Subscribe","topic":"SharkWatch/Temp","qos":"0","datatype":"auto","broker":"f34d2b25.4e4b58","nl":false,"rap":true,"rh":0,"x":180,"y":640,"wires":[["82434c63.5c124"]]},{"id":"21f8ca5d.72d496","type":"mqtt out","z":"5c1c952d.f1341c","name":"Publish","topic":"SharkWatch/Temp","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f34d2b25.4e4b58","x":720,"y":400,"wires":[]},{"id":"b921d868.f7b2a8","type":"json","z":"5c1c952d.f1341c","name":"","property":"payload","action":"","pretty":false,"x":330,"y":400,"wires":[["b4cb7bc.f522288","88bf254e.e90408","562d82b9.bba44c"]]},{"id":"b4cb7bc.f522288","type":"change","z":"5c1c952d.f1341c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":400,"wires":[["21f8ca5d.72d496"]]},{"id":"e1b1fa19.2b3e38","type":"mqtt out","z":"5c1c952d.f1341c","name":"Publish","topic":"SharkWatch/Lux","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f34d2b25.4e4b58","x":720,"y":460,"wires":[]},{"id":"4ff4506f.7b05c","type":"mqtt out","z":"5c1c952d.f1341c","name":"Publish","topic":"SharkWatch/Vent","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f34d2b25.4e4b58","x":720,"y":520,"wires":[]},{"id":"f864f58b.809e98","type":"mqtt in","z":"5c1c952d.f1341c","name":"Subscribe","topic":"SharkWatch/Lux","qos":"0","datatype":"auto","broker":"f34d2b25.4e4b58","nl":false,"rap":true,"rh":0,"x":180,"y":680,"wires":[["4f525310.df622c"]]},{"id":"82052eab.dc3b2","type":"mqtt in","z":"5c1c952d.f1341c","name":"Subscribe","topic":"SharkWatch/Vent","qos":"0","datatype":"auto","broker":"f34d2b25.4e4b58","nl":false,"rap":true,"rh":0,"x":180,"y":720,"wires":[["a41ed3d6.d4cde","ebda565f.d9cd68"]]},{"id":"261af476.81562c","type":"comment","z":"5c1c952d.f1341c","name":"Recebe os dados dos sensores e atualiza a interface","info":"","x":310,"y":600,"wires":[]},{"id":"e4b70f83.0ea29","type":"twitter out","z":"5c1c952d.f1341c","twitter":"f349d6ee.53d308","name":"Tweet","x":730,"y":760,"wires":[]},{"id":"ebda565f.d9cd68","type":"function","z":"5c1c952d.f1341c","name":"","func":"var payloadCache = msg.payload;\nif (payloadCache >= 80){\n    msg.payload = \"Estação Meteorologica SHARK: ATENÇÃO! Ventos de \" + payloadCache + \" Km/h\";\n    return msg;\n}else{\n    return null\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":760,"wires":[["115fbfe7.4c891"]]},{"id":"9013d87f.a12af8","type":"comment","z":"5c1c952d.f1341c","name":"Ativa o bot do Twitter quando o vento for acima de 80 km/h","info":"","x":570,"y":800,"wires":[]},{"id":"115fbfe7.4c891","type":"delay","z":"5c1c952d.f1341c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":580,"y":760,"wires":[["e4b70f83.0ea29"]]}]